.drink-container {
    max-width: 100vw;
    width: 600px;
    margin: auto;
    padding: 0px 10px;
    box-sizing: border-box;
}

.drink-img {
    width: 100%;
    max-height: 700px;
}

.drink-favourite-icon {
    font-size: 20px;
    color: var(--drk-gray);
    color: white;
    cursor: pointer;
    margin-right: 10px;
    position: relative;
    overflow: hidden;
}

.drink-favourite-icon.remove-favourite::after {
    position: absolute;
    content: "\\";
    color: var(--drk-gray);
    font-weight: 600;
    font-size: 40px;
    left: 0px;
    top: -12px;
    transform: rotate(-35deg);
}

.fav-drink-btn {
    background: var(--drk-gray);
    color: white;
    border: none;
    padding: 5px 10px;
    box-sizing: content-box;
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.fav-drink-btn:hover {
    background: var(--drk-gray-hover);
}

.fav-drink-btn:disabled {
    opacity: 0.2;
    pointer-events: none;
}

.drink-top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px;
}

.drink-author-link {
    color: rgb(40, 98, 119);
}

.rating-count {
    color: grey;
    margin-left: 15px;
}

.drink-bottom-section {
    padding: 5px 5px;
    box-sizing: border-box;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.category-icon {
    font-size: 15px;
    color: rgb(61, 63, 61);
    margin-right: 10px;
}

.drink-instructions {
    white-space: pre-line;
}

.comment-list {
    list-style: none;
    padding: 0px;
    border-bottom: 2px solid grey;
    margin-bottom: 60px;
}

.comment {
    position: relative;
    border-top: 2px solid grey;
}

.comment .stars {
    pointer-events: none;
}

.comment a {
    color: black;
    text-decoration: none;
}

.comment-username {
    display: inline-block;
    margin: 10px 10px 10px 0px;
}

.comment-delete-btn {
    position: absolute;
    bottom: 0px;
    right: 10px;
    background: none;
    padding: 0px;
    border: none;
}

.comment-text {
    margin: 25px 0px;
    max-width: calc(100% - 40px)
}

.comment-delete-icon {
    font-size: 18px;
    cursor: pointer;
}

.comment-delete-icon:hover {
    color: var(--drk-gray-hover);
}

.comment-date {
    color: gray;
    margin-left: auto;
    margin-right: 10px;
}

.comment-avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 10px 10px 10px 0px;
    box-shadow: 0px 0px 2px rgb(116, 121, 121);
    background: whitesmoke;
    object-fit: cover;
    display: grid;
    place-items: center;
}

.comment-avatar i {
    font-size: 20px;
    color: var(--drk-gray);
}

.comment-input {
    width: 400px;
    max-width: 90vw;
    margin-bottom: 40px;
}

.comment-input input {
    padding: 10px 30px;
    width: 100%;
    border: none;
    background: whitesmoke;
    border-radius: 7px 0px 0px 7px;
    border-bottom: 2px solid transparent;
}

.comment-input button {
    height: 37px;
    width: 60px;
    padding: 0px;
    border-radius: 0px 7px 7px 0px;
    border: 2px solid transparent;
    background: var(--drk-gray);
    color: white;
    cursor: pointer;
}

.comment-input button:hover {
    background: var(--drk-gray-hover)
}

.comment-input input:focus,
.comment-input input:focus+button {
    outline: 2px solid gray;
}

.no-comments-msg {
    margin-bottom: 50px;
}