.drink-form-container {
    width: 1000px;
    max-width: 100vw;
    min-height: 600px;
    margin: auto;
    background: var(--drk-gray);
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
    box-sizing: border-box;
}

.drink-form-container h2 {
    color: white;
    text-align: center;
    margin-bottom: 40px;
}

input[type="file"] {
    opacity: 0;
}

#imagePreview {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.image-input-label {
    border: 1px solid #ccc;
    display: block;
    height: 200px;
    width: 200px;
    margin: auto;
    cursor: pointer;
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="file"]:focus+label,
input[type="file"]:hover+label {
    box-shadow: 0px 0px 5px white;
}


.drink-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
}

.form-left {
    width: 50%;
    min-width: fit-content;
    align-self: flex-start;
}

.form-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-width: fit-content;
}

.form-right label {
    color: white;
    margin-left: 40px;
    margin-top: 20px;
}

.form-right>input[type=text] {
    padding: 10px;
    margin: auto;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    width: 80%;
}

.form-select,
.measure-input {
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    background: none;
    width: fit-content;
    border: none;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}

.form-select>option {
    background: var(--drk-gray)
}

.form-right>input[type=text]:focus {
    outline: none;
    border-bottom: 1px solid rgb(31, 218, 231);
}

.form-select:focus {
    box-shadow: 0px 0px 3px white;
}

.measure-input {
    width: 80px;
}

#selectedIngredients {
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#selectedIngredients li {
    margin-top: 5px;
    margin-bottom: 5px;
}

#selectedIngredients:empty {
    margin-top: 0px;
    margin-bottom: 5px;
}

.ingredient-select-wrapper {
    align-items: center;
    margin-left: 40px;
}

.category-select {
    margin-left: 50px;
}

.drink-form textarea {
    background: none;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    resize: vertical;
}

.drink-form textarea:focus {
    outline: none;
    border-bottom: 1px solid rgb(31, 218, 231);
}

.add-ingredient-btn,
.form-selected-ingredient button {
    height: 20px;
    width: fit-content;
    margin-left: 10px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    border: 1px solid rgb(97, 88, 88);
    border-radius: 5px;
}

.form-submit-btn {
    width: 300px;
    height: 40px;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    color: white;
    background: rgb(33, 160, 171);
    background: var(--green-gradient);
}

.form-submit-btn:hover {
    outline: 1px solid rgb(110, 105, 105);

}

.form-selected-ingredient {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 180px;
}