.profile-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.profile-links a {
    text-decoration: none;
    color: rgb(57, 79, 201);
    font-size: 1.1em;
    margin: 0px 10px;
}

#profile-container {
    width: 400px;
    height: 500px;
    max-width: 95vw;
    background: var(--drk-gray);
    margin: auto;
    margin-top: 40px;
    border-radius: 10px;
    color: white;
    position: relative;
}

.profile-top {
    height: 200px;
    display: grid;
    place-items: center;
}

.profile-bottom {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-bottom td {
    padding: 2px 10px;
}

#profile-avatar {
    position: relative;
    height: 150px;
    width: 150px;
    background: rgb(67, 67, 70);
    border-radius: 50%;
    pointer-events: none;
}

#profile-avatar:hover .fa-pencil {
    color: greenyellow;
}

.avatar-edit-icon {
    position: absolute;
    top: 0px;
    right: 0px;
}

#profileUpdateForm {
    height: 100%;
}

#profile-update-buttons {
    margin-top: auto;
}

#profile-update-buttons button {
    margin: 0px 5px;
}

#avatarInput {
    opacity: 0;
}

#avatarInput:focus+label,
#avatarInput:hover+label {
    box-shadow: 0px 0px 5px white;
}

.avatar-label {
    display: block;
    height: 100%;
    width: 100%;
    cursor: pointer;
    border-radius: 50%;
}

#profile-avatar:focus {
    box-shadow: 0px 0px 5px white;

}

.avatar-label:hover,
.avatar-label:focus {
    box-shadow: 0px 0px 5px white;
}

#profile-avatar img {
    position: relative;
    z-index: 50;
    border-radius: 50%;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

#profile-avatar img[src=""] {
    display: none;
}

.users-ingredients form {
    width: fit-content;
    margin: auto;
    margin-top: 30px;
    max-width: 90vw;
}

.user-ingredient {
    padding: 0px 20px;
    background: whitesmoke;
    margin: 8px 0px;
    justify-content: space-between;
    width: 100%;
    min-width: 200px;
    border-radius: 5px;
    box-sizing: border-box;
}

.ingredient-select {
    margin-right: 10px;
}

.ingredient-delete-btn {
    background: none;
    padding: 0px;
    border: none;
    margin-left: 20px;
}

.ingredient-delete-btn i {
    font-size: 18px;
    cursor: pointer;
}

.ingredient-delete-btn i:hover {
    color: rgb(197, 17, 17);
}

#avatar-delete-btn {
    position: absolute;
    top: 190px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 400;
    background: none;
    border: 1px solid transparent;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 500;
}

#avatar-delete-btn:hover,
#avatar-delete-btn:focus {
    border: 1px solid rgb(139, 138, 138);
    cursor: pointer;
}

.default-avatar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4em;
    color: rgb(158, 152, 152);
    z-index: 2;
}