:root {
    --star: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 51 48"><path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/></svg>');
    --fill: gold;
    --fillbg: rgba(100, 100, 100, 0.15);
    --icon-size: 30px;
    --rating: 0;
    --rating-box-width: 160px;
    --x: calc(var(--rating-box-width) * (var(--rating) / 5));
    --icon-backround: linear-gradient(to right,
            var(--fill) 0 var(--x),
            var(--fillbg) 0 var(--x));
}

.stars {
    display: flex;
    width: var(--rating-box-width);
    height: var(--icon-size);
    background: var(--icon-backround);
    -webkit-mask-image: var(--star);
    mask-image: var(--star);
    -webkit-mask-repeat: repeat;
    mask-repeat: repeat;
    cursor: pointer;
}

.star {
    width: 32px;
    height: 30px;
}

.stars:hover>.star {
    background: red;
}

.star:hover~.star {
    background: none;
}