:root {
    --star: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 51 48"><path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/></svg>');
    --fill: gold;
    --fillbg: rgba(100, 100, 100, 0.15);
    --icon-size: 30px;
    --rating: 0;
    --rating-box-width: 160px;
    --x: calc(var(--rating-box-width) * (var(--rating) / 5));
    --icon-backround: linear-gradient(to right,
            var(--fill) 0 var(--x),
            var(--fillbg) 0 var(--x));
}

body {
    margin: 0px;
}

.stars {
    display: flex;
    width: var(--rating-box-width);
    height: var(--icon-size);
    background: var(--icon-backround);
    -webkit-mask-image: var(--star);
    mask-image: var(--star);
    -webkit-mask-repeat: repeat;
    mask-repeat: repeat;
    cursor: pointer;
}

.stars.card-stars {
    --x: calc(80px * (var(--rating) / 5));
    background: linear-gradient(to right,
            var(--fill) 0 var(--x),
            var(--fillbg) 0 var(--x));
}

.star {
    width: 32px;
    height: 30px;
}

.card-stars {
    height: 15px;
    width: 80px;
}

.stars:hover>.star {
    background: red;
}

.star:hover~.star {
    background: none;
}

.recipe-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card,
.card.pseudo-el {
    width: 300px;
    max-width: 100vw;
    height: 380px;
    position: relative;
}

.card.pseudo-el {
    height: 0px;
}

.card:hover {
    transform: scale(1.02);
    transition: transform 0.3s;
}

.card a {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
}

.card img {
    width: 300px;
    height: 220px;
    display: block;
    object-fit: cover;
}

.card .card-content .card-rating .stars {
    pointer-events: none;
}

.card-content {
    width: 300px;
    height: 160px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid rgba(100, 95, 95, 0.4);
    border-top: none;
}

.card-title {
    margin: 0px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-rating {
    margin: 5px 0px 10px 0px;
}

.card-description {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
}

.remove-fav-btn {
    z-index: 10;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.title {
    text-align: center;
}

.container {
    max-width: 1260px;
    margin: auto;
}

.filter-bar {
    margin: 30px 0px;
}

.add-recipe-button {
    float: right;
}

.drink-form-container {
    width: 500px;
    max-width: 100vw;
    min-height: 600px;
    margin: auto;
    background: rgb(7, 7, 51);
    padding: 20px;
    margin-top: 50px;
    border-radius: 15px;
}

.drink-form-container h2 {
    color: white;
    text-align: center;
    margin-bottom: 40px;
}

input[type="file"] {
    opacity: 0;
}

.image-input-label {
    border: 1px solid #ccc;
    display: block;
    height: 200px;
    width: 200px;
    margin: auto;
    cursor: pointer;
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="file"]:focus+label,
input[type="file"]:hover+label {
    box-shadow: 0px 0px 3px white;
}

#imagePreview {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.drink-form {
    display: flex;
    flex-direction: column;
}

.drink-form label:not(.image-input-label) {
    color: white;
    margin-left: 40px;
    margin-top: 20px;
}

.drink-form>input[type=text] {
    padding: 10px;
    margin: auto;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    width: 80%;
}

.drink-form>select,
#ingredientSelect {
    padding: 10px;
    margin-top: 10px;
    margin-left: 40px;
    background: none;
    width: fit-content;
    border: none;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}

.drink-form>select:focus,
#ingredientSelect:focus {
    outline: none;
}

.form-select>option {
    background: rgb(7, 7, 51);
}

.drink-form>input[type=text]:focus {
    outline: none;
    border-bottom: 1px solid rgb(31, 218, 231);
}

.form-select:focus,
#ingredientSelect:focus {
    box-shadow: 0px 0px 3px white;
}

#selectedIngredients {
    color: white;
    margin-left: 20px;
    margin-bottom: 0px;
}

#selectedIngredients li {
    margin-top: 5px;
    margin-bottom: 5px;
}

#selectedIngredients:empty {
    margin-top: 0px;
    margin-bottom: 5px;
}

.ingredient-select-wrapper {
    display: flex;
    align-items: center;
}

.drink-form textarea {
    background: none;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    width: 80%;
    margin: auto;
    margin-top: 10px;
}

.drink-form textarea:focus {
    outline: none;
    border-bottom: 1px solid rgb(31, 218, 231);
}

.add-ingredient-btn,
.form-selected-ingredient button {
    height: 20px;
    width: fit-content;
    margin-left: 10px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    border: 1px solid rgb(97, 88, 88);
    border-radius: 5px;
}


.form-submit-btn {
    width: 300px;
    height: 40px;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    color: white;
    background: rgb(33, 160, 171);
    background: linear-gradient(52deg, rgba(33, 160, 171, 1) 0%, rgba(3, 242, 169, 1) 100%);
}

.form-submit-btn:hover {
    outline: 1px solid rgb(110, 105, 105);

}

.form-selected-ingredient {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 160px;
}

.hidden {
    display: none;
    background: red;
}