:root {
    --star: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 51 48"><path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/></svg>');
    --fill: gold;
    --fillbg: rgba(100, 100, 100, 0.15);
    --icon-size: 30px;
    --rating: 0;
    --rating-box-width: 160px;
    --x: calc(var(--rating-box-width) * (var(--rating) / 5));
    --icon-backround: linear-gradient(to right,
            var(--fill) 0 var(--x),
            var(--fillbg) 0 var(--x));
    --drk-gray: rgb(30 30 32);
    --navbar-height: 50px;
    --green-gradient: linear-gradient(52deg, rgba(33, 160, 171, 1) 0%, rgba(3, 242, 169, 1) 100%);
}

body {
    margin: 0px;
}

.btn {
    display: block;
    width: 120px;
    height: 35px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 20px;
    color: white;
    margin: auto;
    background: rgba(33, 160, 171, 1);
}

.btn:hover {
    background: rgb(34, 183, 197);
}

.btn:focus {
    outline: 1px solid rgb(88, 82, 82);
}

.flex-align {
    display: flex;
    align-items: center;
}

.word-break {
    word-break: break-all;
    word-break: break-word;
    white-space: normal;
}

.stars {
    display: flex;
    width: var(--rating-box-width);
    height: var(--icon-size);
    background: var(--icon-backround);
    -webkit-mask-image: var(--star);
    mask-image: var(--star);
    -webkit-mask-repeat: repeat;
    mask-repeat: repeat;
    cursor: pointer;
}

.stars.card-stars {
    --x: calc(80px * (var(--rating) / 5));
    background: linear-gradient(to right,
            var(--fill) 0 var(--x),
            var(--fillbg) 0 var(--x));
}

.star {
    width: 32px;
    height: 30px;
}

.card-stars {
    height: 15px;
    width: 80px;
}

.stars:hover>.star {
    background: red;
}

.star:hover~.star {
    background: none;
}

.recipe-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}


.card {
    border: 1px solid rgba(100, 95, 95, 0.4);
    box-sizing: border-box;
    border-radius: 5px;
}

.card,
.card.spacer {
    width: 300px;
    max-width: 100vw;
    height: 380px;
    position: relative;
}

.card.spacer {
    height: 0px;
    border: none;
}

.card:hover {
    transform: scale(1.02);
    transition: transform 0.3s;
}

.card a {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
}

.card img {
    width: 100%;
    height: 220px;
    display: block;
    object-fit: cover;
    border-radius: 4px 4px 0px 0px;
}

.card .card-content .card-rating .stars {
    pointer-events: none;
}

.card-content {
    width: 300px;
    height: 160px;
    padding: 10px;
    box-sizing: border-box;
    border-top: none;
}

.card-title {
    margin: 0px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-rating {
    margin: 5px 0px 10px 0px;
}

.card-description {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
}

.remove-fav-btn {
    z-index: 1000;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    padding: 5px 10px;
    background: white;
    border: 1px solid black;
    color: white;
    border-radius: 5px;
}

.remove-fav-icon {
    color: rgb(214, 15, 15);
    font-size: 20px;
}

.remove-fav-btn:hover>* {
    color: rgb(100, 96, 96);
}

.title {
    text-align: center;
}

.text-center {
    text-align: center;
}

.container {
    max-width: 1260px;
    margin: auto;
}

.notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 0px 30px;
    box-sizing: border-box;
    min-height: 60px;
    height: fit-content;
    width: fit-content;
    background: rgba(2, 118, 196, 0.6);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    color: white;
    font-size: 1.1em;
    font-weight: 500;
}

.notification.error {
    background: rgba(168, 12, 12, 0.6);
}

.notification.hidden {
    display: none;
}

.notification-icon {
    font-size: 25px;
    width: 25px;
    margin-right: 20px;
}

.filter-bar {
    margin: 30px 0px;
}

.add-recipe-button {
    float: right;
    border-radius: 5px;
}

.gradient-text {
    background: var(--green-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.drink-form-container {
    width: 900px;
    max-width: 100vw;
    min-height: 600px;
    margin: auto;
    background: var(--drk-gray);
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
    box-sizing: border-box;
}

.drink-form-container h2 {
    color: white;
    text-align: center;
    margin-bottom: 40px;
}

input[type="file"] {
    opacity: 0;
}

.image-input-label {
    border: 1px solid #ccc;
    display: block;
    height: 200px;
    width: 200px;
    margin: auto;
    cursor: pointer;
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="file"]:focus+label,
input[type="file"]:hover+label {
    box-shadow: 0px 0px 5px white;
}

.image-label {
    color: white;
}

.error-text {
    color: #d91f1f;
    margin-bottom: 0px;
}

#imagePreview {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.drink-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
}

.form-left {
    width: 50%;
    min-width: fit-content;
    align-self: flex-start;
}

.form-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-width: fit-content;
}

.form-right label {
    color: white;
    margin-left: 40px;
    margin-top: 20px;
}

.form-right>input[type=text] {
    padding: 10px;
    margin: auto;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    width: 80%;
}

.form-select,
.measure-input {
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    background: none;
    width: fit-content;
    border: none;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}

.form-select>option {
    background: var(--drk-gray)
}

.form-right>input[type=text]:focus {
    outline: none;
    border-bottom: 1px solid rgb(31, 218, 231);
}

.form-select:focus {
    box-shadow: 0px 0px 3px white;
}

.measure-input {
    width: 80px;
}

#selectedIngredients {
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#selectedIngredients li {
    margin-top: 5px;
    margin-bottom: 5px;
}

#selectedIngredients:empty {
    margin-top: 0px;
    margin-bottom: 5px;
}

.ingredient-select-wrapper {
    align-items: center;
    margin-left: 40px;
}

.category-select {
    margin-left: 50px;
}

.drink-form textarea {
    background: none;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    resize: vertical;
}

.drink-form textarea:focus {
    outline: none;
    border-bottom: 1px solid rgb(31, 218, 231);
}

.add-ingredient-btn,
.form-selected-ingredient button {
    height: 20px;
    width: fit-content;
    margin-left: 10px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    border: 1px solid rgb(97, 88, 88);
    border-radius: 5px;
}


.form-submit-btn {
    width: 300px;
    height: 40px;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    color: white;
    background: rgb(33, 160, 171);
    background: var(--green-gradient);
}

.form-submit-btn:hover {
    outline: 1px solid rgb(110, 105, 105);

}

.form-selected-ingredient {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 180px;
}

.hidden {
    display: none;
}

.drink-delete-btn {
    position: absolute;
    bottom: 9px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    width: 70px;
    height: 30px;
    cursor: pointer;
    outline: none;
    background: rgb(34, 31, 31);
    border: none;
    border-radius: 5px;
    color: white;
}

.drink-delete-btn:focus,
.drink-delete-btn:hover {
    background-color: rgb(202, 23, 23);
}

.form-container {
    max-width: 100vw;
    width: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    border: 2px solid rgba(128, 128, 128, 0.637);
    border-radius: 10px;
    margin-top: 30vh;
}

.form-container h1 {
    margin: 0px 0px 30px 0px;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container form>button {
    margin-top: 25px;
}


.form-container form>input {
    padding: 15px 10px;
    background: rgba(186, 217, 231, 0.3);
    border: none;
    outline: none;
    margin: 7px;
    border-radius: 4px;
}

.form-container form>input:focus {
    outline: 1px solid rgba(128, 128, 128, 0.637);
}

.drink-container {
    max-width: 100vw;
    width: 600px;
    margin: auto;
    padding: 0px 10px;
    box-sizing: border-box;
}

.drink-img {
    width: 100%;
    max-height: 700px;
}

.nav {
    height: var(--navbar-height);
    background: var(--drk-gray);
    display: block;
    color: white;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 100vw;
    position: relative;
    user-select: none;
}

.nav ul {
    margin: 0px;
    list-style: none;
    background-color: var(--drk-gray);
    position: relative;
    display: flex;
    width: 100%;
}

.nav li:last-child {
    margin-left: auto;
    margin-right: 30px;
}

.nav li:nth-child(1) {
    margin-left: auto;
}

.nav-toggle {
    margin-left: auto;
    margin-right: 30px;
    display: none;
    cursor: pointer;
}

.nav a {
    white-space: nowrap;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    margin-left: 30px;
    font-weight: 600;
}

.nav li:hover,
.nav-title:hover {
    background: var(--green-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-title {
    font-size: 1.5em;
}

.content-wrapper {
    overflow: auto;
    height: calc(100vh - var(--navbar-height));
    width: 100vw;
}

.drink-top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px;
}

.drink-favourite-icon {
    font-size: 20px;
    color: var(--drk-gray);
    color: white;
    cursor: pointer;
    margin-right: 10px;
}

.fav-drink-btn {
    background: var(--drk-gray);
    color: white;
    border: none;
    padding: 5px 10px;
    box-sizing: content-box;
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.fav-drink-btn:disabled {
    opacity: 0.2;
    pointer-events: none;
}

.rating-count {
    color: grey;
    margin-left: 15px;
}

.drink-bottom-section {
    padding: 5px 5px;
    box-sizing: border-box;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.category-icon {
    font-size: 15px;
    color: rgb(61, 63, 61);
    margin-right: 10px;
}

.drink-instructions {
    white-space: pre-line;
}

.comment-list {
    list-style: none;
    padding: 0px;
    border-bottom: 2px solid grey;
}

.comment {
    position: relative;
    border-top: 2px solid grey;
}

.comment a {
    color: black;
}

.comment-delete-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    padding: 0px;
    border: none;
}

.comment-delete-icon {
    font-size: 18px;
    cursor: pointer;
}

.comment-date {
    color: gray;
}

@media (max-width: 800px) {
    .nav-toggle {
        display: block;
    }

    .nav ul {
        display: none;
        margin: 0px;
        padding: 20px;
        position: absolute;
        right: 0px;
        top: var(--navbar-height);
        flex-direction: column;
        width: fit-content;
        z-index: 100;
    }

    .nav li:last-child {
        margin-left: 0px;
        margin-right: 0px;
    }

    .nav li:nth-child(1) {
        margin-left: 0px;
    }

    .nav li {
        margin-bottom: 5px;
    }

    .nav ul.show {
        display: flex;
    }
}