{% extends "layout.html" %}
{% block title %}Admin{% endblock %}

{% block content %}
<div class="container">
    <h1 class="title">Admin</h1>

    <h2 class="title">Add new drink category</h2>
    <div class="form-container admin-form">
        <form action="/drinks/categories" method="post">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
            <input type="text" placeholder="name" name="name" required />
            <input type="text" placeholder="description (optional)" name="description" />
            <button class="btn" type="submit">Add</button>
        </form>
    </div>
    <h2 class="title">Add new ingredient</h2>
    <div class="form-container admin-form">
        <form action="/ingredients" method="post">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <input type="text" placeholder="name" name="name" required />
            <input type="text" placeholder="type (optional)" name="type" />
            <button class="btn" type="submit">Add</button>
        </form>
    </div>
</div>
{% endblock %}