{% extends "layout.html" %}
{% block title %}Drinks{% endblock %}

{% block content %}

<div class="container">
    <h1 class="title">Drink Recipes</h1>
    <div class="filter-bar">
        Only show drinks that can be made using your owned ingredients
        {% if request.args.get("owned_ingredients") == "true"%}
        <input type="checkbox" onchange="handleFilterChange(this.checked)" checked>
        {% else %}
        <input type="checkbox" onchange="handleFilterChange(this.checked)">
        {% endif %}
        <a href="/drinks/add">
            <button class="add-recipe-button btn">Add new recipe</button>
        </a>
    </div>
    <div class="recipe-cards">
        {% if drinks|length == 0 %}
        <div>No drinks found</div>
        {% endif %}

        {% for drink in drinks %}
        <div class="card">
            <a href="/drinks/{{drink.id}}"></a>
            <img src="{{ url_for('serve_img', id=drink.image_id)}}" width="200">
            <div class="card-content">
                <h3 class="card-title">{{drink.name}}</h3>
                <div class="card-rating">
                    <div class="stars card-stars" style="--rating: {{drink.rating}}">
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="star"></div>
                    </div>
                </div>
                <div class="card-description word-break">
                    {{drink.description}}
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="card spacer"></div>
        <div class="card spacer"></div>
        <div class="card spacer"></div>
    </div>
</div>

<script>
    function handleFilterChange(value) {
        window.location.replace(`/drinks?owned_ingredients=${value}`);
    }
</script>

{% endblock %}