{% extends "layout.html" %}
{% block title %}{{drink.name}}{% endblock %}

{% block content %}
<div class="container">
    <div class="drink-container">
        <h1 class="title word-break">{{drink.name}}</h1>
        <p class="text-center word-break">{{drink.description}}</p>
        <div class="drink-top-section">
            <p>Author: <a href="/{{drink.author}}">{{drink.author}}</a></p>
            <div class="flex-align">
                <i class="fa-solid fa-martini-glass category-icon"></i>
                <p>{{drink.category}}</p>
            </div>
        </div>
        <img class="drink-img" src="{{ url_for('serve_img', id=drink.image_id)}}">

        <div class="drink-bottom-section">
            <div class="flex-align">
                <form action="/drinks/{{drink.id}}/rate" method="post" id="ratingForm">
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                    <input id="starsInput" type="hidden" min="1" max="5" type="range" name="stars">
                    <div class="stars">
                        <div class="star" onclick="rate(1)"></div>
                        <div class="star" onclick="rate(2)"></div>
                        <div class="star" onclick="rate(3)"></div>
                        <div class="star" onclick="rate(4)"></div>
                        <div class="star" onclick="rate(5)"></div>
                    </div>
                </form>
                <div class="rating-count">{{drink.rating_count}}</div>
            </div>
            <form action="/drinks/{{drink.id}}/favourite" method="post">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <button class="fav-drink-btn" {% if drink.is_favourited %} disabled {% endif %} type="submit">
                    <i class="fa-solid fa-bookmark drink-favourite-icon"></i> Add to favourites
                </button>
            </form>
        </div>

        <h2>Ingredients</h2>
        <ul>
            {% for ingredient in ingredients %}
            <li>{{ingredient.measure}} {{ingredient.unit}} {{ ingredient.name }}</li>
            {% endfor %}
        </ul>

        <h2>Instructions</h2>
        <p class="drink-instructions word-break">{{drink.recipe}}</p>

        <h2>Comments</h2>
        <form action="/drinks/{{drink.id}}/comment" method="post">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <input type="text" name="comment"> <button type="submit">Add comment</button>
        </form>

        <form action="/drinks/{{drink.id}}/comment/delete" method="post" onsubmit="return handleCommentDelete()">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <ul class="comment-list">
                {% for comment in comments %}
                <li>
                    <div class="comment">
                        <a href="/{{comment.username}}">
                            <h3>
                                {{comment.username}}
                            </h3>
                        </a>
                        <div class="comment-date">
                            {{comment.date}}
                        </div>
                        <div>
                            <p class="word-break">{{comment.comment}}</p>
                        </div>
                        {% if comment.username == session.username %}
                        <button class="comment-delete-btn" type="submit" value="{{comment.id}}" name="comment_id">
                            <i class="fa-solid fa-trash-can comment-delete-icon"></i>
                        </button>
                        {% endif %}
                    </div>
                </li>
                {% endfor%}
            </ul>
        </form>
    </div>
</div>

<script>
    let rating = "{{drink.rating}}"
    let root = document.querySelector(':root');

    root.style.setProperty('--rating', rating == "None" ? "0" : rating)

    function rate(stars) {
        document.getElementById("starsInput").value = stars;
        document.getElementById("ratingForm").submit()
    }

    function handleCommentDelete() {
        return confirm("Delete comment?")
    }

</script>

{% endblock %}