<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drinks</title>
</head>

<body>
    <a href="/">Home</a>
    <h1>Drinks</h1>
    {% for drink in drinks %}
    <div>
        <a href="/drinks/{{drink.id}}">
            <h3>{{drink.name}}</h3>
            <img src="{{ url_for('serve_img', id=drink.image_id)}}" width="200">
        </a>
    </div>
    {% endfor %}
    <form action="/drinks" method="post" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <input type="text" placeholder="name" name="name" />
        <input type="text" placeholder="description" name="description" />
        <input type="text" placeholder="recipe" name="recipe" />
        <input type="file" name="picture" />
        <select name="ingredients" multiple>
            {% for ingredient in ingredients %}
            <option name="options" value="{{ ingredient.id }}"> {{ ingredient.name }}
                {% endfor %}
        </select>
        <button type="submit">Add</button>
    </form>
</body>

</html>