{% extends "layout.html" %}
{% block title %}Drinks{% endblock %}

{% block content %}

<div class="container">
    <h1 class="title">Drink Recipes</h1>

    <div class="filter-bar">
        <form id="filter-form" method="GET" action="/drinks">
            <div class="flex-align">
                <input type="text" name="search" placeholder="Search for recipes..." autocomplete="off"
                    value="{{search}}">
                <button type="submit"><span><i class="fa-solid fa-magnifying-glass"></i></span></button>
            </div>
            <div class="flex-align filter-checkbox">
                <label>
                    Show only drinks that can be made by using
                    <a class="ingredients-link" href="/users/{{session.username}}/ingredients">
                        ingredients on your list
                    </a>
                </label>
                <input name="filter" type="checkbox" {% if request.args.get('filter')=='on' %} checked {% endif %}
                    onchange="handleFilterChange()">
            </div>
        </form>
    </div>

    <a href="/drinks/add">
        <button class="add-recipe-button btn">Add new recipe</button>
    </a>

    {% if drinks|length == 0 %}
    <p class="text-center">No drinks found</p>
    {% endif %}

    <div class="recipe-cards">
        {% for drink in drinks %}
        <div class="card">
            <a href="/drinks/{{drink.id}}"></a>
            <img src="{{ url_for('serve_img', id=drink.image_id)}}" width="200">
            <div class="card-content">
                <h3 class="card-title">{{drink.name}}</h3>
                <div class="card-rating">
                    <div class="stars small-stars" style="--rating: {{drink.rating}}">
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="star"></div>
                    </div>
                </div>
                <div class="card-description word-break">
                    {{drink.description}}
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="card spacer"></div>
        <div class="card spacer"></div>
        <div class="card spacer"></div>
    </div>
</div>

<script>
    function handleFilterChange(value) {
        document.getElementById("filter-form").submit()
    }
</script>

{% endblock %}