{% extends "layout.html" %}
{% block title %}Add new drink{% endblock %}

{% block content %}
<div class="drink-form-container">
    <h2>ADD NEW <span class="gradient-text">DRINK RECIPE</span></h2>
    <form class="drink-form" id="drinkForm" action="/drinks" method="post" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <div class="form-left">
            <input type="file" accept="image/*" name="picture" id="imageInput" />
            <label for="imageInput" class="image-input-label">
                Upload Image
                <img id="imagePreview" src="" alt="" />
            </label>
            <ul id="selectedIngredients"></ul>
        </div>
        <div class="form-right">
            <label>Name</label>
            <input type="text" name="name" autocomplete="off" />
            <label>Description</label>
            <input type="text" name="description" autocomplete="off" />
            <label>Category</label>
            <select class="form-select category-select" name="category">
                {% for category in categories %}
                <option value="{{ category.id }}"> {{ category.name }}
                    {% endfor %}
            </select>
            <label>Ingredients</label>

            <input type="hidden" name="ingredients" id="ingredientsInput" />

            <div class="ingredient-select-wrapper">
                <input class="measure-input" type="number" id="measure" autocomplete="off">
                <select class="form-select" type="text" id=unit>
                    <option selected value=""></option>
                    <option value="cl">cl</option>
                    <option value="ml">ml</option>
                    <option value="litres">litres</option>
                    <option value="pcs.">pcs.</option>
                    <option value="dashes">dashes</option>
                    <option value="tsp.">tsp.</option>
                    <option value="tbsp.">tbsp.</option>
                </select>
                <select class="form-select" id="ingredientSelect">
                    {% for ingredient in ingredients %}
                    <option id="ingredientOption" name="options" value="{{ ingredient.id }}"> {{ ingredient.name }}
                    </option>
                    {% endfor %}
                </select>
                <button class="add-ingredient-btn" onclick="addIngredient()" type="button">Add</button>
            </div>

            <label>Instructions</label>
            <textarea rows="7" type="text" name="recipe"></textarea>
            <button class="form-submit-btn" type="submit">Submit</button>
        </div>
    </form>
</div>

<script>
    imagePreview.style.display = "none"
    imageInput.onchange = event => {
        const [file] = imageInput.files
        if (file) {
            imagePreview.src = URL.createObjectURL(file)
            imagePreview.style.display = "block"
        }
    }

    let selectedIngredients = []

    function addIngredient() {
        let unitInput = document.getElementById("unit")
        let measureInput = document.getElementById("measure")

        let unit = unitInput.value
        let measure = measureInput.value
        let ingredientId = document.getElementById("ingredientSelect").value

        if (selectedIngredients.find((el) => el.ingredientId === ingredientId)) return alert("Ingredient has already been added")
        if (!measure && unit) return alert("Measure cannot be empty if unit is selected")
        if (measure && !unit) return alert("Unit cannot be empty if measure is selected")

        selectedIngredients.push({ ingredientId, unit, measure })
        updateInputValue()

        let ingredientList = document.getElementById("selectedIngredients")
        let ingredient = ingredientSelect.options[ingredientSelect.selectedIndex].innerHTML

        let div = document.createElement("div")
        div.classList.add("form-selected-ingredient")

        let li = document.createElement("li")
        li.textContent = `${measure} ${unit} ${ingredient}`
        div.appendChild(li)

        let button = document.createElement("button")
        button.textContent = "Remove"
        button.setAttribute("type", "button")
        button.onclick = () => {
            selectedIngredients = selectedIngredients.filter(el => el.ingredientId != ingredientId)
            let ingredientList = document.getElementById("selectedIngredients")
            ingredientList.removeChild(div)
            updateInputValue()
        }
        div.appendChild(button)
        ingredientList.appendChild(div)
        measureInput.value = ""
        unitInput.value = ""
    }

    function updateInputValue() {
        let el = document.getElementById("ingredientsInput")
        let value = encodeURIComponent(JSON.stringify(selectedIngredients))
        el.value = value
    }

</script>
{% endblock %}