{% extends "layout.html" %}
{% block title %}{{drink.name}}{% endblock %}

{% block content %}

<h1>{{drink.name}}</h1>
<p>Uploaded by: {{drink.author}}</p>
{% if drink.image_id %}
<img src="{{ url_for('serve_img', id=drink.image_id)}}" width="500">
{% endif %}

<form action="/drinks/{{drink.id}}/favourite" method="post">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    {% if session.username and not drink.is_favourited %}
    <button type="submit">Add to favourites</button>
    {% endif %}
</form>

<form action="/drinks/{{drink.id}}/rate" method="post" id="ratingForm">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input id="starsInput" type="hidden" min="1" max="5" type="range" name="stars">

    <div class="stars">
        <div class="star" onclick="rate(1)"></div>
        <div class="star" onclick="rate(2)"></div>
        <div class="star" onclick="rate(3)"></div>
        <div class="star" onclick="rate(4)"></div>
        <div class="star" onclick="rate(5)"></div>
    </div>
</form>

<p>Ratings: {{drink.rating_count}}</p>
<p>Category: {{drink.category}}</p>
<ul>
    {% for ingredient in ingredients %}
    <li>{{ ingredient.name }}</li>
    {% endfor %}
</ul>
<p>{{drink.description}}</p>
<p>{{drink.recipe}}</p>

<script>
    let rating = "{{drink.rating}}"
    let root = document.querySelector(':root');

    root.style.setProperty('--rating', rating == "None" ? "0" : rating)

    function rate(stars) {
        document.getElementById("starsInput").value = stars;
        document.getElementById("ratingForm").submit()
    }

</script>

{% endblock %}