<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drink Club</title>
</head>

<body>
    <a href="/drinks">Drinks</a>
    <a href="/ingredients">Ingredients</a>
    {% if session.username %}
    <a href="/logout">Logout</a>
    {% else %}
    <a href="/signup">Sign up</a>
    {% endif %}
    <h1>Drink Club</h1>

    {%if session.username %}
    <p>Hello</p>
    {%else%}
    <form action="/login" method="post">
        <input type="text" placeholder="username" name="username" />
        <input type="password" placeholder="password" name="password" />
        <button type="submit">Login</button>
    </form>
    {% endif %}
</body>

</html>