<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingredients</title>
</head>

<body>
    <a href="/">Home</a>
    <h1>Ingredients</h1>
    <ul>
        {% for ingredient in ingredients %}
        <li>
            {{ingredient.name}}
        </li>
        {% endfor %}
    </ul>

    <form action="/ingredients" method="post">
        <input type="text" placeholder="name" name="name" />
        <input type="text" placeholder="type" name="type" />
        <button type="submit">Add</button>
    </form>
</body>

</html>