<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    {% block navigation %}
    <a href="/">Home</a>
    <a href="/drinks">Drinks</a>
    <a href="/ingredients">Ingredients</a>
    {% if session.admin %}
    <a href="/admin">Admin</a>
    {% endif %}
    {% if session.username %}
    <a href="/{{session.username}}">My page</a>
    <a href="/logout">Logout</a>
    {% else %}
    <a href="/signup">Sign up</a>
    {% endif %}
    {% endblock %}

    {% block content %}{% endblock %}
</body>

</html>