{% extends "layout.html" %}
{% block title %}{{username}}{% endblock %}

{% block content %}
<div class="container">
    <h1 class="title">{{username}}</h1>
    <div class="profile-links">
        <a href="/{{username}}/uploaded">Uploaded drink recipes</a>
        {% if username == session.username %}
        <a href="/{{username}}/favourited">Favourited drink recipes</a>
        <a href="/{{username}}/ingredients">My ingredients</a>
        {% endif %}
    </div>
    {% block favourited %}{% endblock %}
    {% block uploaded %}{% endblock %}
    {% block ingredients %}{% endblock %}
</div>

{% endblock %}