{% extends "profile_page.html" %}
{% block title %}{{username}}{% endblock %}

{% block ingredients %}
<div>
    <h2 class="title">My ingredients</h2>

    {% if users_ingredients|length==0 %}
    <p class="text-center">No ingredients added yet</p>
    {% endif %}

    <form action="/{{session.username}}/ingredients/delete" method="post">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <ul>
            {% for ingredient in users_ingredients %}
            <li> {{ingredient.name}} <button type="submit" name="ingredient" value="{{ingredient.id}}">X</button></li>
            {% endfor %}
        </ul>
    </form>

    <form action="/{{session.username}}/ingredients" method="post">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <select name="ingredient">
            {% for ingredient in ingredients %}
            <option value="{{ ingredient.id }}"> {{ingredient.name}}
                {% endfor %}
        </select>
        <button type="submit">Add</button>
    </form>

</div>
{% endblock %}