{% extends "profile_page.html" %}

{% block uploaded %}
<h2 class="title">Uploaded drinks</h2>

{% if uploaded_drinks|length==0 %}
<p class="text-center">No drinks uploaded yet</p>
{% endif %}

<div class="recipe-cards">
    {% for drink in uploaded_drinks %}
    <div class="card">
        <a href="/drinks/{{drink.id}}"></a>
        <img src="{{ url_for('serve_img', id=drink.image_id)}}" width="200">
        <div class="card-content">
            <h3 class="card-title">{{drink.name}}</h3>
            <div class="card-rating">
                <div class="stars small-stars" style="--rating: {{drink.rating}}">
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                </div>
            </div>
            <div class="card-description">
                {{drink.description}}
            </div>

            <form action="/drinks/{{drink.id}}/delete" method="post"
                onsubmit="return handleSubmit(this, '{{drink.name}}')">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                {% if username == session.username %}
                <button class="drink-delete-btn" type="submit">DELETE</button>
                {% endif %}
            </form>
        </div>
    </div>
    {% endfor %}
    <div class="card spacer"></div>
    <div class="card spacer"></div>
    <div class="card spacer"></div>
</div>

<script>
    function handleSubmit(form, drink) {
        return confirm(`Delete ${drink}?`)
    }
</script>
{% endblock %}